<div class="row">
  <div class="small-12 columns">
    <h2>Examen Diagnostico - <%= @diagnostic_exam.subject %></h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <% @questions.each_with_index do |question, i| %>
      <strong>Pregunta <%= i %>: <%= question.question %></strong>
      <br/>
      Respuesta correcta: <%= question.correct_answer.first.answer %>
      <br/>
    <% end %>
  </div>
</div>

<%= link_to 'Regresar', admin_dashboard_path(anchor: 'examenes_diagnositcos') %>
