<table>
  <thead>
    <tr>
      <th>Tema</th>
      <th>Calificación</th>
      <th>Comentarios</th>
    </tr>
  </thead>
  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.subject %></td>
        <td><%= homework.grade(current_user) %></td>
        <td><%= link_to(fa_icon('comments'), '#', data: { reveal_id: "commentarios_#{homework.id}" }) %></td>
      </tr>
      <div id="commentarios_<%= homework.id %>" class="reveal-modal" data-reveal>
        <h2>Comentario</h2>
        <p><%= homework.comment(current_user) %></p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    <% end %>
  </tbody>
</table>
