<%= link_to 'Crear un Examen Diagnositco', new_admin_diagnostic_exam_path, class: 'button tiny radius' %>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @diagnostic_exams.each do |diagnostic_exam| %>
      <tr>
        <td><%= diagnostic_exam.subject %></td>
        <td>
          <%= link_to 'Ver', admin_diagnostic_exam_path(diagnostic_exam), class: 'button tiny radius no-margin' %>
          <%= link_to 'Editar', edit_admin_diagnostic_exam_path(diagnostic_exam), class: 'button tiny radius no-margin' %>
          <%= link_to 'Borrar', admin_diagnostic_exam_path(diagnostic_exam), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius alert no-margin' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
