<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>File</th>
      <th>Delivered</th>
      <th>Grade</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pending_homeworks.each do |pending_homework| %>
      <tr>
        <td><%= pending_homework.homework.subject %></td>
        <td><%= link_to pending_homework.filename, pending_homework.file_url %></td>
        <td><%= pending_homework.created_at %></td>
        <td><%= click_to_edit pending_homework, path: admin_homeworks_user_path(pending_homework), attribute: :inline_grade %></td>
        <td><%= click_to_edit pending_homework, path: admin_homeworks_user_path(pending_homework), attribute: :inline_comment %></td>
        <td><%= link_to 'Borrar', admin_homeworks_user_path(pending_homework), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius alert no-margin' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
