<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>File</th>
      <th>Delivered</th>
      <th>Grade</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pending_homeworks.each do |pending_homework| %>
      <tr>
        <td><%= pending_homework.homework.subject %></td>
        <td><%= link_to pending_homework.file.file.filename.to_s, pending_homework.file.url %></td>
        <td><%= pending_homework.created_at %></td>
        <td><%= click_to_edit pending_homework, path: admin_homeworks_user_path(pending_homework), attribute: :inline_grade %></td>
        <td><%= click_to_edit pending_homework, path: admin_homeworks_user_path(pending_homework), attribute: :inline_comment %></td>
        <td><%= link_to 'Destroy', admin_homeworks_user_path(pending_homework), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="commentarios" class="reveal-modal" data-reveal>
  <h2>Comentarios</h2>
  <p>Muy buen trabajo!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
