<%= link_to 'Crear Tarea', new_admin_homework_path, class: 'button tiny radius' %>

<table class="datatable">
  <thead>
    <tr>
      <th>Level</th>
      <th>Type</th>
      <th>Subject</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.level %></td>
        <td><%= homework.hw_type %></td>
        <td><%= homework.subject %></td>
        <td><%= homework.deadline %></td>
        <td>
          <%= link_to 'Ver', admin_homework_path(homework), class: 'button tiny radius no-margin' %>
          <%= link_to 'Editar', edit_admin_homework_path(homework), class: 'button tiny radius no-margin' %>
          <%= link_to 'Borrar', admin_homework_path(homework), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius alert no-margin' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
