<table>
  <thead>
    <tr>
      <th># Tarea</th>
      <th>Tema</th>
      <th>Fecha Limite</th>
      <th>Calificación</th>
      <th>Comentarios</th>
    </tr>
  </thead>
  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.guid %></td>
        <td><%= homework.subject %></td>
        <td><%= homework.deadline %></td>
        <td><%= homework.grade %></td>
        <td><%= link_to(fa_icon('comments'), '#', data: { reveal_id: 'commentarios' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="commentarios" class="reveal-modal" data-reveal>
  <h2>Comentarios</h2>
  <p>Muy buen trabajo!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
