<%= link_to 'Crear Tarea', new_admin_homework_path %>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Type</th>
      <th>Subject</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.level %></td>
        <td><%= homework.hw_type %></td>
        <td><%= homework.subject %></td>
        <td><%= homework.deadline %></td>
        <td>
          <%= link_to 'Show', admin_homework_path(homework) %> |
          <%= link_to 'Edit', edit_admin_homework_path(homework) %> |
          <%= link_to 'Destroy', admin_homework_path(homework), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="commentarios" class="reveal-modal" data-reveal>
  <h2>Comentarios</h2>
  <p>Muy buen trabajo!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
