<div class="row">
  <div class="small-6 columns end">
    <h2><%= fa_icon 'tachometer' %> Dashboard</h2>
  </div>
</div>
<%= display_flash_messages %>
<div class="row">
  <div class="small-12 columns">
    <dl class="tabs" data-tab data-options="deep_linking:true">
      <dd class="active"><a href="#revisar_tareas"><%= fa_icon 'files-o' %> Revisar Tareas</a></dd>
      <dd ><a href="#tareas"><%= fa_icon 'files-o' %> Tareas</a></dd>
      <dd><a href="#grupos"><%= fa_icon 'users' %> Grupos</a></dd>
      <dd><a href="#examenes_diagnositcos"><%= fa_icon 'stethoscope' %> Examenes Diagnosticos</a></dd>
      <dd><a href="#ejercicios"><%= fa_icon 'bicycle' %> Ejercicios</a></dd>
      <dd><a href="#videos"><%= fa_icon 'video-camera' %> Videos</a></dd>
      <!-- <dd><a href="#metricas"><%#= fa_icon 'bar-chart' %> Metricas</a></dd> -->
    </dl>
    <div class="tabs-content">
      <div class="content active" id="revisar_tareas">
        <%= render 'revisar_tareas' %>
      </div>
      <div class="content" id="tareas">
        <%= render 'tareas' %>
      </div>
      <div class="content" id="examenes_diagnositcos">
        <%= render 'examenes_diagnositcos' %>
      </div>
      <div class="content" id="ejercicios">
        <%= render 'ejercicios' %>
      </div>
      <div class="content" id="grupos">
        <%= render 'grupos' %>
      </div>
      <div class="content" id="videos">
        <%= render 'videos' %>
      </div>
      <!-- <div class="content" id="metricas">
        <%#= render 'metricas' %>
      </div> -->
    </div>
  </div>
</div>
