<fieldset class="no-border">
  <%= f.input :field_type, collection: %w{radio_button check_box code} %>
  <%= f.input :answer %>
  <%= f.input :correct %>
  <div class="row">
    <div class="small-12">
      <%= f.hidden_field :_destroy %>
      <%= link_to 'remove', '#', class: 'remove_fields button tiny radius alert' %>
    </div>
  </div>
</fieldset>
