<%= simple_form_for [:admin, @object, @question] do |f| %>
  <%= display_flash_messages %>

  <%= f.input :question %>

  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'Agregar Respuesta', f, :answers %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
