<div class="row">
  <div class="small-12 columns">
    <h1>Tarea <%= @homework.subject %></h1>
  </div>
</div>

<%= display_flash_messages %>

<div class="row">
  <div class="small-8 columns">
    <h4>Description:</h4>
    <%= markdown @homework.description %>
  </div>
  <div class="small-4 columns">
    <div class="panel">
      <%= simple_form_for @homework_user do |f| %>
        <%= f.hidden_field :homework_id, value: @homework.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        Archivo de tarea
        <%= f.input :file, label: false %>

        <%= f.button :submit, 'Subir Tarea', class: 'button small radius success' %>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Regresar', dashboard_path(anchor: 'tareas'), class: 'button tiny radius' %>
  </div>
</div>
