<div class="row">
  <div class="small-12 columns">
    <h2>Examen Diagnostico - <%= @diagnostic_exam.subject %></h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for @diagnostic_exam_user do |f| %>
      <%= f.hidden_field :diagnostic_exam_id, value: @diagnostic_exam.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <% @diagnostic_exam.questions.each_with_index do |question, i| %>
        <div class="row">
          <div class="large-6 columns">
            <strong>Pregunta <%= i+1 %>:</strong>
            <%= markdown question.question %>
            <% question.answers.each do |answer| %>
              <%= render "field_#{answer.field_type}", answer: answer %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.button :submit, 'Enviar' %>
    <% end %>
  </div>
</div>
