<div class="row">
  <div class="small-12 columns">
    <h2>Examen Diagnostico - <%= @diagnostic_exam.subject %></h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for @diagnostic_exam_user do |f| %>
      <%= f.hidden_field :diagnostic_exam_id, value: @diagnostic_exam.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <% @diagnostic_exam.questions.each do |question| %>
        <div class="row">
          <div class="large-6 columns">
            <label><strong><%= question.question %></strong></label>
            <% question.answers.each do |answer| %>
              <%= radio_button_tag "answers[#{question.id}]", answer.id, false %>
              <label for="answers_<%= "#{question.id}_#{answer.id}" %>"><%= answer.answer %></label>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
