<div class="row">
  <div class="small-12 columns">
    <h1>Tarea <%= @homework.subject %></h1>
  </div>
</div>

<%= display_flash_messages %>

<div class="row">
  <div class="small-12 columns">
    Level: <%= @homework.level %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    Type: <%= @homework.hw_type %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    Deadline: <%= @homework.deadline %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    Description:
    <%= markdown @homework.description %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Regresar', admin_dashboard_path(anchor: 'tareas'), class: 'button tiny radius' %>
    |
    <%= link_to 'Editar', edit_admin_homework_path(@homework), class: 'button tiny radius' %>
  </div>
</div>
